@model WebSeite.Models.AnschriftGeschaeft

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Anschrift Geschaeft</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kundennummer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kundennummer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Strasse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Strasse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hausnummer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hausnummer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ort)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zusatz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zusatz)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PLZ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PLZ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Homepage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Homepage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefonnummer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefonnummer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Handy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Handy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AnschriftGeschaeftID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
